.MainContainer{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
}
.btnTop{
  background-color: #eb5757;
  border-radius: 20px;
  margin-right: 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  box-shadow: 0 9px #999;

}
.btnTop:hover{
  background-color: #d36e6e;
}
.btnTop:active{

  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.innerBtnText{

padding: 5px;
}

.MainHeader{
  position: sticky;
  background-color: #eb5757;
  height: 145px;
  width: 100%;
  display: block;
}
.topMain{
  background-color: #222;
  height: 55px;
  width: 100%;
  padding-top: 20px;
  color: #f9f9f9;
  font-size: 18px;

}
li {
  display: inline;
  color: #222;
}
.navBarMain{

}
.BodyImage{
  background-image: url('https://img.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg?w=996&t=st=1663505375~exp=1663505975~hmac=0749692dfef8019c4e9680e4420d43043636f06ecd99d97365fc763a76b0b177');
  background-repeat: no-repeat;

  height: 70%;
  width: 100%;

}
.bottomMain{

  background-color: #222 ;
height: 100%;
}